@import url("https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap");

/* Global reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

/* Base body styling */
body {
  font-family: "Geist", sans-serif;
  line-height: 1.5;
  background-color: white;
  color: black;
  overflow-x: hidden;
}

/* Container: limits width and centers content */
.container {
  max-width: 960px; /* Adjust this value for your preferred maximum width */
  margin: 0 auto; /* Centers the container horizontally */
  padding: 0 20px; /* Adds horizontal padding */
}

/* Paragraph styling */
p {
  font-size: 1rem;
  text-align: justify;
  margin-top: 20px;
}

/* Skill grid styling */
.skill-grid {
  display: block;
  margin-top: 40px;
}

/* Section layout */
.section {
  min-height: 100vh;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

/* Heading styles */
h1 {
  font-size: 5rem;
  line-height: 1;
}

h2 {
  font-size: 1rem;
}

h3 {
  font-size: 1rem;
}

.company-and-date {
  font-size: 0.8rem;
  color: gray;
}

/* Contact icons styling */
.contact-icons {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 20px;
}
.contact-icons a {
  font-size: 2rem;
  text-decoration: none;
  transition: color 0.3s;
  color: black;
}
.contact-icons a:hover {
  color: mediumseagreen;
}

.experience {
  display: block;
  margin-top: 40px;
}

.projects {
  display: block;
  margin-top: 40px;
}

.typewriter {
  overflow: hidden; /* Hide text until revealed */
  white-space: nowrap; /* Keep text on one line */
  border-right: 0.15em solid mediumseagreen; /* The blinking caret */
  animation: typewriter 3s steps(44, end) 1s 1 normal both,
    blink-caret 750ms step-end infinite;
}

@keyframes typewriter {
  0% {
    width: 0%;
  }
  90% {
    width: 100%;
  } /* Type out the text */
  100% {
    width: 100%;
  } /* Hold for a realistic pause */
}

@keyframes blink-caret {
  0%,
  100% {
    border-color: transparent;
  }
  50% {
    border-color: mediumseagreen;
  }
}

@media (max-width: 480px) {
  .typewriter {
    white-space: normal; /* Allow line break on very small screens */
  }
}
