/* Apply these styles to all elements */
* {
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
    scroll-behavior: smooth; /* Enable smooth scrolling */
}

/* Apply these styles to the body element */
body {
    font-family: Arial, sans-serif; /* Set the font family */
    line-height: 1.6; /* Set the line height */
    color: black; /* Set the text color */
    background-color: white; /* Set the background color */
    overflow-x: hidden; /* Prevent horizontal scrolling */
}

/* Apply these styles to paragraph elements inside the body */
body p {
    font-size: 1rem; /* Set the font size */
    color: black; /* Set the text color */
    max-width: 800px; /* Set the maximum width of the paragraph */
    margin: 20px auto; /* Add margin around the paragraph and center it */
    padding: 0 20px; /* Add padding to the left and right */
    text-align: justify; /* Justify the text to make both sides even */
}

/* Apply these styles to elements with the class "section" */
.section {
    height: 100vh; /* Set the height to 100% of the viewport height */
    display: flex; /* Use flexbox layout */
    justify-content: center; /* Center items horizontally */
    flex-direction: column; /* Arrange items in a column */
    text-align: center; /* Center text */
    padding: 20px; /* Add padding */
}

/* Apply these styles to bold elements */
b {
    color: mediumseagreen; /* Set the text color */
}

/* Apply these styles to h1 elements */
h1 {
    font-size: 6rem; /* Set the font size */
    line-height: 1; /* Set the line height */
    color: black; /* Set the text color */
}

/* Apply these styles to h2 elements */
h2 {
    font-size: 2rem; /* Set the font size */
    color: black; /* Set the text color */
}

/* Apply these styles to paragraph elements */
p {
    font-size: 1rem; /* Set the font size */
    color: black; /* Set the text color */
}

/* Apply these styles to elements with the class "contact-icons" */
.contact-icons {
    margin-top: 20px; /* Add margin to the top */
    justify-content: center; /* Center items horizontally */
    display: flex; /* Use flexbox layout */
    gap: 15px; /* Add space between items */
}

/* Apply these styles to anchor elements inside elements with the class "contact-icons" */
.contact-icons a {
    text-decoration: none; /* Remove underline from links */
    color: black; /* Set the text color */
    font-size: 2rem; /* Set the font size */
    transition: color 0.3s; /* Smooth transition for color change */
}

/* Apply these styles to anchor elements inside elements with the class "contact-icons" when hovered */
.contact-icons a:hover {
    color: mediumseagreen; /* Change color on hover */
}
